html, body, p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-color-default);
  background-color: var(--background-color-default);
  transition: all 0.2s ease-in-out;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}